@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide scrollbar for IE, Edge and Safari
*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*/

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171c23;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fa896b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
